<div class="banner">
    <h1 class="banner-heading">Navigate Your Career Journey</h1>
        <p class="banner-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit consequuntur, ex in est voluptatum odio sequi libero eius numquam repellendus quae quia, sed suscipit et!</p>
        <div class="search-container">
      <div class="search-input-left">
        <input type="text" placeholder="Search" >
      </div>
      <div class="search-input-right">
        <input type="text" placeholder="Location">
      </div>

      <button class="search-btn">Find jobs</button>
    </div>
</div>