<div class="banner">
    <h1 class="banner-heading">Navigate Your Career Journey</h1>
        <p class="banner-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit consequuntur, ex in est voluptatum odio sequi libero eius numquam repellendus quae quia, sed suscipit et!</p>
    <div class="search-container">
      <input type="text" class="search-input">
      <input type="text" class="search-input">
      <button class="search-btn">Find jobs</button>
    </div>
</div>