<main>
  <section class="section-2">
    <h1 class="section-2-heading">
      Unlock Your Career Potential</h1>
    <div class="services">
        <div class="service">
            <i class="fas fa-user-tie"></i>
            <h3 class="service-heading">Create an Alert</h3>
            <p class="service-paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, veritatis!</p>
            <button class="service-btn">Create alert</button>
        </div>
        <div class="service">
            <i class="fas fa-briefcase"></i>
            <h3 class="service-heading">Register Now</h3>
            <p class="service-paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, veritatis!</p>
            <button class="service-btn">Register now</button>
        </div>
        <div class="service">
            <i class="far fa-handshake"></i>
            <h3 class="service-heading">Upload CV</h3>
            <p class="service-paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, veritatis!</p>
            <button class="service-btn">Upload CV</button>
        </div>
    </div>
</section>
</main>