
<footer class="footer">
  <div class="footer-top">
    <ul class="footer-list">
      <li>
        <a href="#">Help and Contact</a>
      </li>
      <li>
        <a href="#">Fees</a>
      </li>
      <li>
        <a href="#">Security</a>
      </li>
      <li>
        <a href="#">Features</a>
      </li>
      <li>
        <a href="#">Shop</a>
      </li>
    </ul>
    <ul class="footer-list">
      <li>
        <a href="#">English</a>
      </li>
      <li>
        <a href="#">Spanish</a>
      </li>
      <li>
        <a href="#">French</a>
      </li>
      <li>
        <a href="#">Italian</a>
      </li>
      <li>
        <a href="#">
          <img src="" />
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p class="copyright">Copyright &copy; All Rights Reserved</p>
  </div>
</footer>
