<div class="logged-page-top-nav ">
  <div class="signup-page-logo logo">
    <span class="p-1">S</span>
    <span class="p-2">S</span>
    SmartPath
    <a href="/" class="login">Home</a>
  </div>
  <div class="logged-nav"> 
  <a href="/admin/posts" class="login">Find Job</a>
  <a href="/admin/posts" class="login">My jobs</a>
</div>
</div>