<%- include('includes/head.ejs') %>

<body>
  <%- include('includes/navigation.ejs')%>
  <div class=" error-page">
  <h1>Some error occurred!</h1>
    <p>We're working on fixing this, sorry for the inconvenience!</p>
  </div>
</body>
