/* Login Page */
.container {
  width: 100%;
}
.login-page {
  width: 100%;
  height: 100vh;
  position: relative;
}

.login-page-content {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1rem solid #cfcfcf;
  padding: 3rem;
}



.login-page-logo {
  margin-bottom: 1.2rem;
}

.login-page-logo .p-1 {
  color: #064699;
}

.login-page-logo .p-2 {
  color: #32a4f0;
}

.login-page-logo span:nth-child(3) {
  color: #064699;
}

.login-page-logo span:nth-child(4) {
  color: #32a4f0;
}

.login-page-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page-form input {
  width: 37rem;
  height: 4.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 0 1.5rem;
  border: 0.1rem solid #777;
  font-size: 1.6rem;
}

.sign-up-page-form input {
  width: 60rem;
  height: 4.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 0 1.5rem;
  border: 0.1rem solid #777;
  font-size: 1.6rem;
  
}


.login-page-form input.invalid {
  border-color: #DD5746;
}



.form-login-btn {
  background-color: #036bb1;
  width: 95%;
  color: #fff;
  border: 0.1rem solid #036bb1;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
  padding: 0.7rem;
  border-radius: 0.5rem;
}

.form-login-link {
  font-size: 1.6rem;
  color: #229fe7;
  margin: 1.2rem 0 1rem 0;
}

.login-page-form span {
  width: 2rem;
  font-size: 1.8rem;
  color: #888;
  margin: 1rem 0;
  position: relative;
}

.login-page-form span::before {
  content: "";
  width: 16rem;
  height: 0.1rem;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  right: 3.5rem;
  transform: translateY(-50%);
}

.login-page-form span::after {
  content: "";
  width: 16rem;
  height: 0.1rem;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  left: 3.5rem;
  transform: translateY(-50%);
}

.form-signup-btn {
  background-color: #dbe8ec;
  border: 0.1rem solid #dbe8ec;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
}
/* End of Login Page */

/* The alert message box */
.alert {

  font-size: 2rem;
  text-align: center;
  padding: 1.5rem;
  background-color: #DD5746; /* Red */
  color: white;
  margin-bottom: 1.5rem;

}

/* The close button */
.closebtn {
  margin-left: 1.5rem;
  color: white;
  font-weight: 400;
  float: right;
  font-size: 2.2rem;
  line-height: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.alert {
  opacity: 1;
  transition: opacity 0.6s; /* 600ms to fade out */
}

/* Style the form */
#regForm {
  background-color: #ffffff;
  margin: 10rem auto;
  padding: 4rem;
  width: 70%;

  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
}

/* Style the input fields */
input {
  padding: 1rem;
  margin: 2rem 0;
  width: 100%;
  font-size: 17px;
  border: 0.1rem solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
  font-size: 2rem;
  font-weight: 200;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 0.2rem;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #064699;
}

.profile-signup__form {

  display: flex; 
}

.profile-signup__form button {
  margin-left: 2rem;
  border: none;
}
/* .profile-signup__form  {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0.5rem 2rem ;
  margin-left: 2rem;

} */