<%- include('../includes/head-form.ejs') %>
<!-- Sign Up Page -->
<div class="post-job-page__admin">
  <%- include('../includes/nav-logged-in.ejs') %>

  <div class="page-content__admin">
    <!-- Login Page -->
    <div class="register-page__user">
      <div class="register-page-content__user">
        <div class="login-page-logo logo">
          <h1>Contact Information</h1>
        </div>
        <form class="register-page-form__user" action="/user/create-profile" method="POST">
          <label for="">First name</label>
          <input
            type="text"
            class="form-login-input"
            placeholder="First name"
            name="firstName"
          />
          <label for="">Last name</label>
          <input type="text" class="form-login-input" placeholder="Last name" name="lastName"/>
          <label for="">Headline</label>
          <input type="text" class="form-login-input" placeholder="Headline" name="headline"/>
          <label for="">Phone</label>
          <input type="text" class="form-login-input" placeholder="Phone" name="phone"/>
          <label for="">Email</label>
          <input type="text" class="form-login-input" placeholder="Email" name="email" />
          <label for="">Location</label>
          <input type="text" class="form-login-input" placeholder="Location" name="location" />

          <button type="submit" class="form-user-btn" value="Create">
            Create
          </button>
        </form>
      </div>
    </div>
    <!-- End of Login Page -->
  </div>
</div>
<%- include('../includes/footer.ejs') %> <%- include('../includes/end.ejs') %>
