<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
      <section class="section-2">
        <h1 class="section-2-heading">
          Unlock Your Career Potential</h1>
        <div class="services">
            <div class="service">
                <i class="fas fa-user-tie"></i>
                <h3 class="service-heading">Create an Alert</h3>
                <p class="service-paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, veritatis!</p>
                <button class="service-btn">Create alert</button>
            </div>
            <div class="service">
                <i class="fas fa-briefcase"></i>
                <h3 class="service-heading">Register Now</h3>
                <p class="service-paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, veritatis!</p>
                <button class="service-btn">Register now</button>
            </div>
            <div class="service">
                <i class="far fa-handshake"></i>
                <h3 class="service-heading">Upload CV</h3>
                <p class="service-paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, veritatis!</p>
                <button class="service-btn">Upload CV</button>
            </div>
        </div>
    </section>
    </main>

            <!-- Login Page -->
            <div class="login-page">
              <div class="login-page-content">
                  <div class="login-page-logo logo">
                      <span class="p-1">P</span>
                      <span class="p-2">P</span>
                      <span>Pay</span><span>Pal</span>
                  </div>
                  <form class="login-page-form">
                      <input type="text" class="form-login-input" placeholder="Email or mobile number">
                      <input type="password" class="form-login-input" >
                      <input type="button" class="form-login-btn" value="Log In">
                      <a href="#" class="form-login-link">Having trouble logging in?</a>
                      <span>or</span>
                      <input type="button" class="form-signup-btn signup" value="Sign Up">
                  </form>
              </div>
          </div>
          <!-- End of Login Page -->

                  <!-- Sign Up Page -->
        <div class="signup-page">
          <div class="signup-page-top">
              <div class="signup-page-logo logo">
                  <span class="p-1">P</span>
                  <span class="p-2">P</span>
                  PayPal
              </div>
              <button class="login">Log In</button>
          </div>
          <div class="signup-page-content">
              <div class="signup-page-content-left">
                  <div class="content-left-images">
                      <img src="images/person-1.jpg">
                      <img src="images/person-2.jpg">
                      <img src="images/person-3.jpg">
                  </div>
                  <h1>See for yourself why millions of people love PayPal.</h1>
              </div>
              <div class="signup-page-content-right">
                  <h3>Sign up for PayPal, it's free</h3>
                  <h4>Choose from two types of accounts:</h4>
                  <form class="signup-page-form">
                      <div class="input-group">
                          <input type="radio" name="checkbox" checked>
                          <div class="option">
                              <h3>Personal Account</h3>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ducimus minima, incidunt beatae veritatis ad delectus temporibus eaque enim ea!</p>
                          </div>
                      </div>
                      <div class="input-group">
                          <input type="radio" name="checkbox">
                          <div class="option">
                              <h3>Business Account</h3>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ducimus minima, incidunt beatae veritatis ad delectus temporibus eaque enim ea!</p>
                          </div>
                      </div>
                      <button class="blue-btn">Continue</button>
                  </form>
              </div>
             
          </div>
      </div>
      <!-- End of Sign Up Page -->
                        <!-- Section 5 -->
                        <section class="section-5">
                            <div class="section-5-top">
                                <h2 class="section-5-top-heading">Sign Up and Get Started</h2>
                                <button class="blue-btn signup">Get Started</button>
                            </div>
      <%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>